#test {
  color: blueviolet;
}
body {
  margin: 0;
}

h1 {
  color: blue;
  font-size: 1.5em;
  text-align: center;
  border-bottom: 1px gray solid;
  margin: 0;
  margin-top: 10px;
}

ol {
  border-right: 1px solid gray;
  width: 100px;
  margin: 0;
  padding: 25px;
}

#grid{
  display: grid;
  grid-template-columns: 150px 1fr;
}

div{
  padding: 0px 20px 10px 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

flex{
  display: flex;
  flex-direction: column ;
  padding: 0px 20px 10px 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

#grid ol {
  padding-left: 30px;
}

img {
  object-fit: cover;
  width: 30%;
  height: 50%;
}


a {
  color: black;
  text-decoration: none;
}

#active {
  color: red;

}

.saw {
  color: blueviolet;
}